# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/coverage
dist-ssr

# Node
/node_modules
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Environment files
*.env
.env.*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Visual Studio Code
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Editor-specific files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
